@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    We are an animal rescue center that is looking for you to sponsor our animals, to help with their day to day care. <br />
    This started out as an assignment for university but has become a successful rescue center taking in animals on a regular basis.
</p>

<h3>Support us</h3>

<p>
    You can support us by either<br />
    <h5>Donating</h5>
    <h5>Sponsoring</h5>
    <h5>Volunteering</h5>
