@model WebProgrammingFinal.Model.UserAccount
@{
    ViewData["Title"] = "Animals";
}

<h2>The Animals!</h2>

<a asp-area="" asp-controller="Animals" asp-action="Cats"><img id="animalType" src="~/images/CatHome.jpg" /></a> &emsp;&emsp;
<a asp-area="" asp-controller="Animals" asp-action="Dogs"><img id="animalType" src="~/images/DogHome.jpg" /></a> &emsp;&emsp;
<br /> <br />
<a asp-area="" asp-controller="Animals" asp-action="SmallAnimals"><img id="animalType" src="~/images/SmallHome.jpg" /></a> &emsp;&emsp;
<a asp-area="" asp-controller="Animals" asp-action="Reptiles"><img id="animalType" src="~/images/ReptileHome.jpg" /></a> &emsp;&emsp;
